/* author Sarah Hess */
body{
    margin-top: 0px;
}
:root{
    --bg-colorTone: #41839f;
    --grey-tone: #cccccc;
    --dark-greyTone: #585858;
}
#fixedHeader{
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 50;
}
/* --------------------------------------------nav bar mit suche überschrift und registration----------------------------------------------- */
#navBar {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--grey-tone);
    height: 80px;
}
#headline{
    width: 50%;
    align-items: center;
    /* justify-content: center; */
    display: flex;
}
#search1, #headline, #login {
    justify-content: center;
}
#login{
    /* justify-content: center; */
    align-items: center;
}
#registrierenLogin{
    border: 2px solid var(--bg-colorTone);
    padding: 12px;
    border-radius: 22px;
    color: var(--bg-colorTone);
    cursor: pointer;
}
.navSections{
    width: 14%;
    display: flex;
}
#kleiderSchieber{
    color: var(--bg-colorTone);
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
}
#help{
    align-items: center;
}
#aboutKleiderSchieberButton{
    border: 2px solid var(--bg-colorTone);
    padding: 12px;
    border-radius: 22px;
    background-color: var(--bg-colorTone);
    color: white;
    cursor: pointer;
}
/* form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: var(--grey-tone);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
} */

#SearchInput{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 1px solid var(--grey-tone);
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: white;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

/* form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: var(--grey-tone);
    color: white;
} */

/* ------------------------------Seite mit inforamtionen über Kleiderkreisel--------------------------------------------------------- */

#AboutKleiderSchieber{
    display: none;
    position: absolute;
    margin-top: 160px;
    width: 98%;
}
#AboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#AboutHeader1 {
    text-align: center;
    font-size: 35px;
    color: var(--bg-colorTone);
    
}
#AboutHeaderSubtitle{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: var(--dark-greyTone);
}
.stepImages{
height: 200px;
margin-left: 10px;
}
#stepsSections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.StepContainer{
    display: flex;
    flex-direction: column;
}
#stepsHeadline{
    font-size: 25px;
    color: var(--dark-greyTone);
}
#stepsSellButton{
    margin-top: 30px;
    text-align: center;
    border: 2px solid var(--bg-colorTone);
    padding: 12px;
    border-radius: 22px;
    background-color: var(--bg-colorTone);
    color: white;
    cursor: pointer;
    width: 120px;
    margin-left: 41%;
}


/* ------------------------------aufwahl mann frau oder kind--------------------------------------------------------- */

#genderSelection{
    height: 40px;
    border-bottom: 1px solid var(--grey-tone);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--grey-tone);
    cursor: pointer;
}
.gender{
    padding-left: 50px;
    padding-right: 50px;
}
/*----------------------------------------- Startseite der webseite--------------------------------------------------- */
#mitte{
    position: absolute;
    margin-top: 120px;
    height: 100%;
}
#Startseite{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.StartseiteSides{
    width: 50%;
}
#pictureStartseite{
    width: 100%;
}
#DescriptionKleiderSchieber{
    text-align: center;
    font-size: 55px;
    margin-top: 10%;
   
}
#SellNow{
    text-align: center;
    border: 2px solid var(--bg-colorTone);
    padding: 12px;
    border-radius: 22px;
    background-color: var(--bg-colorTone);
    color: white;
    cursor: pointer;
    width: 140px;
    margin-left: 35%;
    margin-top: 8%;
}
/*----------------------------------------- Login/Registrieren--------------------------------------------------- */
#LoginRegistrationPlugin{
    display: none;
    background-color: var(--bg-colorTone);
    height: 50%;
    width: 20%;
    position: absolute;
    margin-left: 40%;
    margin-top: 170px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 65px -19px rgba(140,140,140,1);
    -moz-box-shadow: 0px 0px 65px -19px rgba(140,140,140,1);
    box-shadow: 0px 0px 65px -19px rgba(140,140,140,1);
    color: white;
    position: fixed;
}
#LoginContent{
    color: white;
    margin-top: 15%;
    /* margin-left: 7%; */
    /* font-size: 20px; */
    padding: 25px;
}
#LoginContentHeadline{
    font-size: 26px;
    text-align: center;
}
#LoginContentSubtitle{
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
#SelectLoginOrRegistration{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}
.SelectLR{
    width: 50%;
    text-align: center;
    cursor: pointer;
}
#SelectLogin{
    border-right: 1.5px solid var(--grey-tone);
    
}

.CloseRegistrationLogin{
    width: 26px;
    float: right;
    padding: 8px;
    color: white;
    cursor: pointer;
}

/* -------------------------login/registrieren neue Seite---------------------------------- */

.LoginRegister {
    background-color: white;
    /* opacity: 0.5; */
    border-width: 0.1px;
    border-style: solid;
    border-color: var(--grey-tone);
    justify-content: center;
    width: 450px;
    height: 400px;
}
#test{
    display:flex;
    justify-content:center;
    align-items:center;
}
.LRContainer {
    margin-top: 170px;
    position: absolute;
    width: 98%;
    display: none;
}

.login_register_variables {
    display:flex;
    justify-content: center;
    margin-top: 13px;

}

#heading_login {
    color: var(--dark-greyTone);
}

#login_button {
    background-color: var(--bg-colorTone);
    color: white;
    border-style: none;
    border-radius: 10px;
}

.problem_messages {
    color: var(--bg-colorTone);
}

.LRinput {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

/*----------------------------------------- Auswahl Mann, Frau, Kind--------------------------------------------------- */
#genderSelected{
    z-index: 10;
    display: none;
    width: 30%;
    height: auto;
    text-align: center;
    background-color: white;
    position: absolute;
    margin-left: 35%;
    margin-top: 120px;
    -webkit-box-shadow: 0px 72px 65px -40px rgba(156,154,156,1);
    -moz-box-shadow: 0px 72px 65px -40px rgba(156,154,156,1);
    box-shadow: 0px 72px 65px -40px rgba(156,154,156,1);
    position: fixed;
}
.genderItemSelected{
    cursor: pointer;
    margin-top: 25px;
    border-bottom: 1.5px solid var(--grey-tone);
    padding-bottom: 19px;
    color: var(--bg-colorTone);
}